@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

:root {
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);
    --transparent-white: hsla(0, 0%, 100%, 0.75);
    --very-light-gray: hsl(0, 0%, 95%);
    --font-family-title: 'Big Shoulders Display', cursive;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Lexend Deca', sans-serif;
    transition: all .2s ease-in-out;
    color: var(--very-light-gray);
}

html,
body {
    width: 100%;
    height: 100%;
    font-size: 15px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

button,
input {
    border: none;
}

fieldset {
    border: none;
}

img {
    max-width: 100%;
}

figure {
    margin-block: 0;
    margin-inline: 0;
}

.background--bright-orange {
    background-color: var(--bright-orange);
}


.background--dark-cyan {
    background-color: var(--dark-cyan);
}

.background--very-dark-cyan {
    background-color: var(--very-dark-cyan);
}

.color--bright-orange {
    color: var(--bright-orange);
}

.color--dark-cyan {
    color: var(--dark-cyan);
}

.color--very-dark-cyan {
    color: var(--very-dark-cyan);
}