.main {
    min-height: 100%;
    padding: 5rem 1.5rem;
    display: grid;
    place-items: center;
    background-color: var(--very-light-gray);
}

.main__container__card {
    padding: 3.2rem;
    display: grid;
    gap: 2rem;
}

.main__container__card:first-child {
    border-radius: .5rem .5rem 0 0;
}

.main__container__card:last-child {
    border-radius: 0 0 .5rem .5rem;
}

.container__card__title {
    font-size: 2.5rem;
    font-family: var(--font-family-title);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: var(--very-light-gray);
}

.container__card__description {
    font-size: 1rem;
    line-height: 1.8rem;
    color: var(--transparent-white);
}

.container__card__link {
    width: 10rem;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
    background-color: var(--very-light-gray);
}

@media screen and (min-width: 950px) {
    .main {
        padding: initial;
    }

    .main__container {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 20rem;
    }

    .main__container__card {
        padding: 3.5rem 3rem;
        gap: 1.8rem;
    }

    .main__container__card:first-child {
        border-radius: .5rem 0 0 .5rem;
    }

    .main__container__card:last-child {
        border-radius: 0 .5rem .5rem 0;
    }

    .container__card__link {
        margin-top: 4rem;
    }

}